ul.navbar-ul {
  padding: 0;
  margin: 0;
  background-color: cornflowerblue;
}

.navbar-ul li {
  display: inline-block;
  padding: 10px;
}

.navbar-ul li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.nav-right {
  text-align: right;
}

.logo {
  width: 35px;
  float: left;
  background-color: black;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}

.register,
.product {
  width: 50%;
  margin: auto;
}

.register .outlined-basic,
.product .outlined-basic {
  display: block;
  margin: 20px 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}